@model List<EntityLayer.Concrete.Recipe>
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
    int count = 0;
}

<h2>Tarifler</h2>
<table class="table table-bordered">
    <tr>
        <th>#</th>
        <th>Tarif Adı</th>
        <th>Kategori</th>
        <th>Sil</th>
        <th>Düzenle</th>
    </tr>
    @foreach (var item in Model)
    {
        count++;
        <tr>
            <th>@count</th>
            <th>@item.Title</th>
            <td>@item.RecipeCategory.RecipeCategoryName</td>
              <td><a href="/Admin/Recipe/DeleteRecipe/@item.RecipeID" class="btn btn-outline-danger">Sil</a></td>
            <td><a href="/Admin/Recipe/UpdateRecipe/@item.RecipeID" class="btn btn-outline-info">Düzenle</a></td>
        </tr>
    }



</table>
<a href="/Admin/Recipe/AddRecipe" class="btn btn-outline-primary">Yeni Tarif Ekle</a>
<br />

