<div class="recepie_videoes_area">
    <div class="container">
        <div class="row">
            <div class="col-xl-6 col-lg-6 col-md-6">
                <div class="recepie_info">
                    <h3>
                        Tam Malzemeli Tarif Videoları
                    </h3>
                    <p>Tam istediğiniz ölçüde istediğiniz porsiyonda yemekler için kolay anlatımlı videolar hazırladık. En çok denenen tarifimizi de sizle paylaşıyoruz.</p>
                    <div class="video_watch d-flex align-items-center">
                        <a class="popup-video" href="https://www.youtube.com/watch?v=S4ErqMEtFzM"> <i class="ti-control-play"></i> </a>
                        <div class="watch_text">
                            <h4>Videoyu izle</h4>
                            <p>Bu tarife bayılacaksınız</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-6 col-md-6">
                <div class="videos_thumb">
                    <div class="big_img">
                        <img src="https://enfestarifler.com/images/770/500/evde-lokum-gibi-fajita-tarifi.jpg" alt="">
                    </div>
                    <div class="small_thumb">
                        <img src="~/tasty-recipes/img/video/small_1.png" alt="">
                    </div>
                    <div class="small_thumb_2">
                        <img src="~/tasty-recipes/img/video/2.png" alt="">
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>