<div class="dish_area">
    <div class="container">
        <div class="row">
            <div class="col-xl-12">
                <div class="dish_wrap d-flex">
                    <div class="single_dish text-center">
                        <div class="thumb">
                            <img src="~/tasty-recipes/img/recepie/recpie_4.png" alt="">
                        </div>
                        <h3>Çorbalar</h3>
                        <p>Birbirinden lezzetli çorba tarifleri</p>
                    </div>
                    <div class="single_dish text-center">
                        <div class="thumb">
                            <img src="~/tasty-recipes/img/recepie/recpie_5.png" alt="">
                        </div>
                        <h3>Sebze Yemekleri</h3>
                        <p>Tadına doyamayacağınız sebze yemeği tarifleri</p>
                    </div>
                    <div class="single_dish text-center">
                        <div class="thumb">
                            <img src="~/tasty-recipes/img/recepie/recpie_6.png" alt="">
                        </div>
                        <h3>Tatlılar</h3>
                        <p>Her damak zevkine uygun çeşitli tatlı tarifleri</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>