
@{
    Layout = null;
}
<!doctype html>
<html class="no-js" lang="zxx">

<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>Tasty Recipes</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- <link rel="manifest" href="site.webmanifest"> -->
    <!-- Place favicon.ico in the root directory -->
    <!-- CSS here -->
    <link rel="stylesheet" href="~/tasty-recipes/css/bootstrap.min.css">
    <link rel="stylesheet" href="~/tasty-recipes/css/owl.carousel.min.css">
    <link rel="stylesheet" href="~/tasty-recipes/css/magnific-popup.css">
    <link rel="stylesheet" href="~/tasty-recipes/css/font-awesome.min.css">
    <link rel="stylesheet" href="~/tasty-recipes/css/themify-icons.css">
    <link rel="stylesheet" href="~/tasty-recipes/css/nice-select.css">
    <link rel="stylesheet" href="~/tasty-recipes/css/flaticon.css">
    <link rel="stylesheet" href="~/tasty-recipes/css/gijgo.css">
    <link rel="stylesheet" href="~/tasty-recipes/css/animate.min.css">
    <link rel="stylesheet" href="~/tasty-recipes/css/slick.css">
    <link rel="stylesheet" href="~/tasty-recipes/css/slicknav.css">
    <link rel="stylesheet" href="~/tasty-recipes/css/style.css">
    <link rel="stylesheet" href="~/tasty-recipes/css/responsive.css">
</head>
<body>
<header>
    <div class="header-area ">
        <div id="sticky-header" class="main-header-area ">
            <div class="container">
                <div class="row align-items-center">
                    <div class="col-xl-3 col-lg-2">
                        <div class="logo">
                            <a href="index.html">
                                <img src="~/tasty-recipes/img/logo.png" alt="">
                            </a>
                        </div>
                    </div>
                    <div class="col-xl-6 col-lg-7">
                        <div class="main-menu   d-none d-lg-block">
                            <nav>
                                <ul id="navigation">
                                    <li><a href="/Home/Index">Ana Sayfa</a></li>
                                    <li><a href="/About/Index">Hakkımızda</a></li>
                                    <li><a href="/Recipe/Index">Tarifler</a></li>
                                    <li>
                                        <a href="#">blog</a>

                                    </li>

                                    <li><a href="/Contact/Index">İletişim</a></li>
                                </ul>
                            </nav>
                        </div>
                    </div>
                    <div class="col-xl-3 col-lg-3 d-none d-lg-block">
                        <div class="search_icon">
                            <a href="#">
                                <i class="ti-search"></i>
                            </a>
                        </div>
                    </div>
                    <div class="col-12">
                        <div class="mobile_menu d-block d-lg-none"></div>
                    </div>
                </div>

            </div>
        </div>
    </div>
</header>

                    <div>
                        @RenderBody()
                    </div>

<!-- footer  -->
<footer class="footer">
    <div class="footer_top">
        <div class="container">
            <div class="row">
                <div class="col-xl-2 col-md-6 col-lg-2">
                    <div class="footer_widget">
                        <h3 class="footer_title">
                            Popüler Tarifler
                        </h3>
                        <ul>
                            <li><a href="#">Managed Website</a></li>
                            <li><a href="#"> Manage Reputation</a></li>
                            <li><a href="#">Power Tools</a></li>
                            <li><a href="#">Marketing Service</a></li>
                        </ul>

                    </div>
                </div>
                <div class="col-xl-2 col-md-6 col-lg-2">
                    <div class="footer_widget">
                        <h3 class="footer_title">
                            Hızlı Erişim
                        </h3>
                        <ul>
                            <li><a href="#">Jobs</a></li>
                            <li><a href="#">Brand Assets</a></li>
                            <li><a href="#">Investor Relations</a></li>
                            <li><a href="#">Terms of Service</a></li>
                        </ul>

                    </div>
                </div>
                <div class="col-xl-2 col-md-6 col-lg-2">
                    <div class="footer_widget">
                        <h3 class="footer_title">
                            Özellikler
                        </h3>
                        <ul>
                            <li><a href="#">Jobs</a></li>
                            <li><a href="#">Brand Assets</a></li>
                            <li><a href="#">Investor Relations</a></li>
                            <li><a href="#">Terms of Service</a></li>
                        </ul>

                    </div>
                </div>
                <div class="col-xl-2 col-md-6 col-lg-2">
                    <div class="footer_widget">
                        <h3 class="footer_title">
                            Kaynaklar
                        </h3>
                        <ul>
                            <li><a href="#">Guides</a></li>
                            <li><a href="#">Research</a></li>
                            <li><a href="#">Experts</a></li>
                            <li><a href="#">Agencies</a></li>
                        </ul>

                    </div>
                </div>
                <div class="col-xl-4 col-md-6 col-lg-4">
                    <div class="footer_widget">
                        <h3 class="footer_title">
                            Abone Olun
                        </h3>
                        <p class="newsletter_text">En son eklenen tariflere ilk ulaşmak için</p>
                        <form action="#" class="newsletter_form">
                            <input type="text" placeholder="Email adresinizi yazın">
                            <button type="submit"> <i class="ti-arrow-right"></i> </button>
                        </form>

                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="copy-right_text">
        <div class="container">
            <div class="footer_border"></div>
            <div class="row align-items-center">
                <div class="col-xl-8 col-md-8">
                    <p class="copy_right">
                        <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                        &copy; @DateTime.Now.Year Tüm hakları saklıdır. | Design with <i class="fa fa-heart-o" aria-hidden="true"></i> by <a href="https://colorlib.com" target="_blank">Colorlib</a>
                        <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                    </p>
                </div>
                <div class="col-xl-4 col-md-4">
                    <div class="socail_links">
                        <ul>
                            <li>
                                <a href="#">
                                    <i class="ti-facebook"></i>
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    <i class="ti-twitter-alt"></i>
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    <i class="fa fa-dribbble"></i>
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    <i class="fa fa-behance"></i>
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</footer>
<!--/ footer  -->
<!-- JS here -->
<script src="~/tasty-recipes/js/vendor/modernizr-3.5.0.min.js"></script>
<script src="~/tasty-recipes/js/vendor/jquery-1.12.4.min.js"></script>
<script src="~/tasty-recipes/js/popper.min.js"></script>
<script src="~/tasty-recipes/js/bootstrap.min.js"></script>
<script src="~/tasty-recipes/js/owl.carousel.min.js"></script>
<script src="~/tasty-recipes/js/isotope.pkgd.min.js"></script>
<script src="~/tasty-recipes/js/ajax-form.js"></script>
<script src="~/tasty-recipes/js/waypoints.min.js"></script>
<script src="~/tasty-recipes/js/jquery.counterup.min.js"></script>
<script src="~/tasty-recipes/js/imagesloaded.pkgd.min.js"></script>
<script src="~/tasty-recipes/js/scrollIt.js"></script>
<script src="~/tasty-recipes/js/jquery.scrollUp.min.js"></script>
<script src="~/tasty-recipes/js/wow.min.js"></script>
<script src="~/tasty-recipes/js/nice-select.min.js"></script>
<script src="~/tasty-recipes/js/jquery.slicknav.min.js"></script>
<script src="~/tasty-recipes/js/jquery.magnific-popup.min.js"></script>
<script src="~/tasty-recipes/js/plugins.js"></script>
<script src="~/tasty-recipes/js/gijgo.min.js"></script>

<!--contact js-->
<script src="~/tasty-recipes/js/contact.js"></script>
<script src="~/tasty-recipes/js/jquery.ajaxchimp.min.js"></script>
<script src="~/tasty-recipes/js/jquery.form.js"></script>
<script src="~/tasty-recipes/js/jquery.validate.min.js"></script>
<script src="~/tasty-recipes/js/mail-script.js"></script>

<script src="~/tasty-recipes/js/main.js"></script>
</body>
<</html>